<div class="container">
    <div class="row">
		<div class="col-12">
			<div class="section-title">
				<h2>Orders</h2>
			</div>
		</div>
	</div>
    <div class="my-orders">
    <div class="row">
        <div class="offset-1 col-10">
            <!-- Shopping Summery -->
            <table class="table shopping-summery">
                <tbody>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Manufactured by: Cosco</p>
                            <p class="product-des">Rs.400.00</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Placed on</p>
                            <p class="product-des">20/04/2020</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Id</p>
                            <p class="product-des">12345</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Total</p>
                            <p class="product-des">Rs.2000</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Manufactured by: Cosco</p>
                            <p class="product-des">Rs.400.00</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Placed on</p>
                            <p class="product-des">20/04/2020</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Id</p>
                            <p class="product-des">12345</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Total</p>
                            <p class="product-des">Rs.2000</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Manufactured by: Cosco</p>
                            <p class="product-des">Rs.400.00</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Placed on</p>
                            <p class="product-des">20/04/2020</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Order Id</p>
                            <p class="product-des">12345</p>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">Total</p>
                            <p class="product-des">Rs.2000</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--/ End Shopping Summery -->
        </div>
        </div>
    </div>
    </div>