<app-header></app-header>
<div class="container">
    <div class="offset-1 page-heading">
        <h4>Your Orders</h4>
    </div>
    <div class="my-orders">
    <div class="row">
        <div class="offset-1 col-9">
            <!-- Shopping Summery -->
            <table class="table shopping-summery">
                <tbody>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">Women Dress</a></p>
                            <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--/ End Shopping Summery -->
        </div>
        </div>
    </div>
    </div>
    <app-footer></app-footer>