

/*=========================================================
	06 -> PRODUCT
===========================================================*/

.product .product-old-price {
    color: #F8694A;
    font-size: 70%;
  }
  
  .product .product-rating {
    display: inline-block;
  }
  
  .product .product-rating>i {
    color: #FFB656;
  }
  
  .product .product-rating>i.empty {
    color: #DADADA;
  }
  
  .product .product-label>span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
  }
  
  .product .product-label>span.sale {
    background-color: #F8694A;
  }
  
  .product .product-countdown {
    z-index: 22;
  }
  
  .product .product-countdown>li {
    display: inline-block;
    margin-right: -4px;
  }
  
  .product .product-countdown>li+li:before {
    content: ":";
    color: #FFF;
    background: #30323A;
    padding: 2px;
  }
  
  .product .product-countdown>li>span {
    display: inline-block;
    color: #FFF;
    font-weight: 700;
    padding: 10px;
    background: #F8694A;
  }
  
  
  /*=========================================================
      08 -> PRODUCT DETAILS PAGE
  ===========================================================*/
  
  /*----------------------------*\
      Product view
  \*----------------------------*/
  
  #product-main-view .slick-arrow {
    opacity: 0;
  }
  
  #product-main-view:hover .slick-arrow {
    opacity: 1;
  }
  
  #product-view {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  #product-view .product-view.slick-slide {
    opacity: 0.2;
  }
  
  #product-view .product-view.slick-slide.slick-current {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 0px 2px #F8694A inset;
    box-shadow: 0px 0px 0px 2px #F8694A inset;
  }
  
  #product-view .product-view {
    padding: 7.5px;
  }
  
  .product-view>img {
    width: 100%;
  }
  
  /*----------------------------*\
      Product details
  \*----------------------------*/
  
  .product.product-details .product-name {
    margin-top: 15px;
  }
  
  .product.product-details .product-rating {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .product.product-details .product-options {
    padding-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #DADADA;
    margin-top: 15px;
  }
  
  .product-options .size-option {
    margin-bottom: 15px;
  }
  
  .size-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .size-option>li:last-child {
    margin-right: 0px;
  }
  
  .size-option>li>a {
    display: block;
    border: 1px solid #DADADA;
    font-weight: 700;
    padding: 2px 7px 0px 8px;
  }
  
  .size-option>li.active a {
    color: #F8694A;
    border-color: #F8694A;
  }
  
  .color-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .color-option>li:last-child {
    margin-right: 0px;
  }
  
  .color-option>li>a {
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .color-option>li.active a {
    -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
  }
  
  .product.product-details .qty-input {
    display: inline-block;
  }
  
  .product.product-details .qty-input .input {
    width: 90px;
  }
  
  /*----------------------------*\
      Product tab
  \*----------------------------*/
  
  .product-tab {
    margin-top: 30px;
  }
  
  .product-tab .tab-nav {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
  }
  
  .product-tab .tab-nav li {
    display: inline-block;
  }
  
  .product-tab .tab-nav li+li {
    margin-left: 30px;
  }
  
  .product-tab .tab-nav li a {
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product-tab .tab-nav li.active {
    position: relative;
  }
  
  .product-tab .tab-nav li.active a {
    color: #F8694A;
  }
  
  .product-tab .tab-nav li.active a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 30px;
    background-color: #F8694A;
  }
  
  /*-- reviews --*/
  
  .single-review {
    margin-bottom: 30px;
  }
  
  .single-review .review-heading>div {
    display: inline-block;
  }
  
  .single-review .review-heading>div+div {
    margin-left: 10px;
  }
  
  .single-review .review-rating {
    display: inline-block;
  }
  
  .single-review .review-rating>i {
    color: #FFB656;
  }
  
  .single-review .review-rating>i.empty {
    color: #DADADA;
  }
  
  .single-review .review-body {
    margin-top: 10px;
  }
  
  .reviews-pages li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .reviews-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
  }
  
  .reviews-pages li.active {
    color: #F8694A;
  }
  
  /*-- review form --*/
  
  .review-form textarea.input {
    height: 90px;
  }
  
  .review-form .input-rating .stars {
    display: inline-block;
    vertical-align: top;
  }
  
  .review-form .input-rating .stars input[type="radio"] {
    display: none;
  }
  
  .review-form .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  
  .review-form .input-rating .stars>label:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #DADADA;
    font-size: 14px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
    content: "\f005";
    color: #FFB656;
  }
  
  .review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
    content: "\f005";
    color: #FFB656;
  }
  
  /*=========================================================
      11 -> SLICK
  ===========================================================*/
  
  /*----------------------------*\
      Arrows
  \*----------------------------*/
  
  .slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background: #30323A;
    z-index: 22;
  }
  
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #F8694A;
  }
  
  .slick-prev:before, .slick-next:before {
    color: #FFF;
  }
  
  .slick-prev {
    left: 15px;
  }
  
  .slick-next {
    right: 15px;
  }
  
  .custom-nav .slick-prev, .custom-nav .slick-next {
    display: inline-block;
    position: static;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  
  /*=========================================================
      12 -> RESPONSIVE
  ===========================================================*/
  
  @media only screen and (max-width: 991px) {
    #home .home-wrap {
      margin-left: 0px;
    }
    #aside {
      margin-bottom: 60px;
    }
    .product-reviews {
      margin-bottom: 30px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .banner h1 {
      font-size: 36px;
    }
    .store-filter .pull-right, .store-filter .pull-left {
      float: none !important;
    }
    .store-filter .pull-right {
      margin-top: 15px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    [class*='col-xs'] {
      width: 100%;
    }
  }
  